body{
    background: url('img/tela_inicial/bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.h2titulo{
    position: absolute;
    left: 0;
}
.h2titulo{
    width: 250px;
    margin-left: 50px;
}
.tituloImg{
    margin-left: 50px;
}
.container{
    padding: 0 !important;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 990px;
}
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.img-menina{
    background: url('assets/objetos/img-menina.jpg') no-repeat;
    background-position: top center;
    width: 490px;
    height: 100vh;
}
.img-menino {
    background: url(img/tela_inicial/indios.svg) no-repeat;
    background-position: top center;
    width: 50%;
    height: 100vh;
    right: -6%;
    bottom: -12%;
    position: absolute;
}
.titulo-menu{
    margin-left: 5%;
}
h2 img{
    width: 450px;
}
.titulo{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 70px;
}
.menu ul{padding: 0;}
.menu li{
    list-style: none;
    width: 295px;
    height: 72px;
    margin-bottom: 20px;
}
.menu a{
    width: 347px;
    height: 166px;
    background-repeat: no-repeat;
    display: block;
}


.bt-fenomeno{
    background: url('img/tela_inicial/bt_iniciar.svg') no-repeat;
    transition: all ease 0.3s;
}
.bt-fenomeno:hover{
    opacity: 0.8;
}
.bt-disputas{
    background: url('assets/objetos/bt04.png') no-repeat;
    animation-delay: 3s;
}
.bt-disputas:hover{
    background: url('assets/objetos/bt04_.png') no-repeat;
}
.bt-fronteiras{
    background: url('assets/objetos/bt05.png') no-repeat;
    animation-delay: 4s;
}
.bt-fronteiras:hover{
    background: url('assets/objetos/bt05_.png') no-repeat;
}
.bt-questoes{
    background: url('assets/objetos/bt06.png') no-repeat;
    animation-delay: 5s;
}
.bt-questoes:hover{
    background: url('assets/objetos/bt06_.png') no-repeat;
}
.bt-referencias{
    background: url('assets/objetos/bt07.png') no-repeat;
    animation-delay: 6s;
}
.bt-referencias:hover{
    background: url('assets/objetos/bt07_.png') no-repeat;
}

.logo3{
    position: absolute;
    width: 50px;
    right: 50px;
    top: 50px;
}
.btVideo2{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 180px;
}
.btVideo2:hover {
    opacity: 0.8;
    cursor: pointer;
 }

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-video {
    background-image: url('tela_inicial/video_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 754px;
    height: 572px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    position: relative;
    max-width: 100%;
}
.modal-video iframe {
    box-shadow: 2px 2px 2px #333;
    height: 280px;
    width: 460px;
    margin: 10px auto;
    display: block;
}
.modal-video p {
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
#fechar-video {
    font-family: 'Poppins', Arial, sans-serif;
    position: absolute;
    right: 40px;
    top: -40px;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #5ea6a6;
    border: 1px solid #498080;
    cursor: pointer;
}
#fechar-video:hover {
    box-shadow: 2px 2px 2px #333;
}
.botao-video {
    border-radius: 50%;
}
.botao-video:hover {
   opacity: 0.8;
   cursor: pointer;
}
.tituloprincipal{width: 450px;} 


@media screen and (max-width: 1540px){
    .img-menino{
        background: url('img/tela_inicial/indios.svg') no-repeat;
        background-position: top center;
        width: 45%;
        height: 78vh;
        right: -5%;
        bottom: -9%;
        position: absolute;
    }
}

@media screen and (max-width: 1366px){
    .tituloImg{
        width: 600px;
        margin-left: 0px;
    }
    .menu a {
        width: 323px;
        height: 100px;
        background-repeat: no-repeat;
        display: block;
        margin-top: -30px;
    }
}
@media screen and (max-width: 950px){
    h2 img {width: 100%;}
    .inicial{
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .menu{
        width: 100%;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .menu li a{
        animation-delay: 1s !important;
    }
    .titulo{
        margin-top: 150px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 700px){
    .h2titulo{
        left: 0;
        right: 0;
        margin: 0px auto;
        width: 90%;
        max-width: 500px;
    }
    .btVideo2{
        position: absolute;
        top: 134px;
        left: 0px;
        right: 0;
        margin: 0 auto;
        width: 180px;
    }
    .titulo {
        margin-top: 300px;
        padding: 0 20px;
    }
    .logo3 {
        position: absolute;
        width: 50px;
        left: 10px;
        top: 90%;
    }
}