/*sesc audio player*/
.sesc-audio-player{
    background-color: #00838D;
    color: white;
    padding: 8px 20px;
    line-height: 0;
    margin: 20px 0;
}
.sesc-audio-player .timestamp{
    display: inline-block;
    vertical-align: text-top;
    margin-left: 20px; 
    margin-top: 1rem;

    
}
.sesc-audio-player .btn-player{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: white;
    color: #00838D;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 0;
    margin-bottom: 0;
}
.sesc-audio-player .btn-player:hover{
    transform: translateY(-3px);
    background-color: #E5FDFF;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .3);   
}
.sesc-audio-player .btn-player:active, .sesc-audio-player .btn-player:focus{
    transform: none;
    background-color: #00838D;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);   
}

.sesc-audio-player .btn-play{
    background-image: url(../img/ico-play.png);
}
.sesc-audio-player .btn-play:focus{
    background-image: url(../img/ico-play_alt.png);
}
.sesc-audio-player .btn-pause{
    background-image: url(../img/ico-pause.png);
}
.sesc-audio-player .btn-pause:focus{
    background-image: url(../img/ico-pause_alt.png);
}
.sesc-audio-player .btn-transcricao{
    background-image: url(../img/ico-transcricao.png);
}
.sesc-audio-player .btn-transcricao:focus{
    background-image: url(../img/ico-transcricao_alt.png);
}

/*estilos da range do player*/
.sesc-audio-player  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
.sesc-audio-player  input[type=range]:focus {
    outline: none;
}
.sesc-audio-player input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #004E52;
    border-radius: 0px;
    border: 0px solid #000000;
}
.sesc-audio-player input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 26px;
    width: 9px;
    border-radius: 1px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.sesc-audio-player input[type=range]:focus::-webkit-slider-runnable-track {
    background: #004E52;
}
.sesc-audio-player input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #004E52;
    border-radius: 0px;
    border: 0px solid #000000;
}
.sesc-audio-player input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 26px;
    width: 9px;
    border-radius: 1px;
    background: #FFFFFF;
    cursor: pointer;
}
.sesc-audio-player input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.sesc-audio-player input[type=range]::-ms-fill-lower {
    background: #004E52;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
}
.sesc-audio-player input[type=range]::-ms-fill-upper {
    background: #004E52;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
}
.sesc-audio-player input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 26px;
    width: 9px;
    border-radius: 1px;
    background: #FFFFFF;
    cursor: pointer;
}
.sesc-audio-player input[type=range]:focus::-ms-fill-lower {
    background: #004E52;
}
.sesc-audio-player input[type=range]:focus::-ms-fill-upper {
    background: #004E52;
}
